{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %} 
<div id="help-content">
    <div class="header">
        <h1>Help</h1>
    </div>
    <div class="container">
        <p>Online Book Shop is an online store for selling books. We recommend you to register to become our member user, because in this way you can buy the books, otherwise you can only search and view the information of every book. </p>
        <p>After register, users can use the cart, and confirm an order. What’s more, we have an algorithm to recommend some books according to the books you’ve bought. Users can check all the orders, and view their basic information or modify them from the account page.</p>
        <h2 id="toc_1">Contact Us</h2>
        <p>Online Book Shop is developed by two students from the Software Engineering College, Southeast University. If you have any problems or suggestions in using this book store, we strongly hope you can contact us, our information is as follow:</p>
        <p>Yao Yiyun  <a href="mailto:nixingwuwei@gmail.com">nixingwuwei@gmail.com</a>  15150685906</p>
        <p>Shen Duo   <a href="mailto:471153168@qq.com">471153168@qq.com</a>  15150683186</p>
    </div>
</div>
{% endblock %}
