.splash-container {
    background: #1f8dd6;
    z-index: 1;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 88%;
    top: 0;
    left: 0;
    position: fixed !important;
}

.splash {
    /* absolute center .splash within .splash-container */
    width: 80%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 100px; left: 0; bottom: 0; right: 0;
    text-align: center;
    text-transform: uppercase;
}

/* This is the main heading that appears on the blue section */
.splash-head {
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: 3px solid white;
    padding: 1em 1.6em;
    font-weight: 100;
    border-radius: 5px;
    line-height: 1em;
}

/* This is the subheading that appears on the blue section */
.splash-subhead {
    color: white;
    letter-spacing: 0.05em;
    opacity: 0.8;
}

.button-buy,
.button-checkout,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-register,
.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-buy {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-checkout {
    background: rgb(66, 184, 221); /* this is a light blue */
}

.button-large {
    font-size:125%;
}

.content-wrapper {
}

.search-wrapper,
.book-specification-wrapper {
    margin-top:30px;
}

.book-image {
    height: 350px;
    width: 230px;
}

.related-books {
    height: 200px;
}

.book-image-sm {
    height: 180px;
    width: 130px;
}

.book-details > h1 {
    font-size: 48px;
    margin: 0;
    margin-bottom: 20px;
}

.book-details > .book-description {
    font-size: 20px;
}

.book-details > .price {
    margin: 15px 0;
}

.price-head {
    font-size: 30px;
}

.price-number {
    font-size: 30px;
    color: red;
}

.user-info-detail-wrapper {
    margin-left: 20px;
    margin-top: 20px;
}

.user-info-detail-wrapper > .user-name {
    font-size: 40px;
}

.user-info-detail-wrapper > .user-email {
}
.user-info-detail-wrapper > .user-address {
}

.pure-controls {
    margin-top: 20px;
}

.form-buy {
    float: left;
    margin-right: 10px;
}

.form-buy > button {
    font-size: 20px;
}

.form-cart > button {
    font-size: 20px;
}

.m-badge {
    float: right;
    margin-right: 10px;
}

.search-button {
    margin-left: 10px;
}

.all-books-wrapper {
    margin-top: 40px;
}

.order-controls {
    float: right;
}

.order-controls .total-price-show,
.order-controls .button-buy {
    margin-top:10px;
    font-size:24px;
}

.order-controls .total-price-show .total-price {
    color: red;
    float: right;
}

.controls-number {
    float: right;
}

.item-number {
    vertical-align: middle;
}

.item-number {
    font-size:22px;
}

.user-head-image {
    width: 200px;
    height: 200px;
}

.user-head-image-sm {
    width: 64px;
    height: 64px;
}

.complete-order-area,
.uncomplete-order-area,
.processing-order-area {
    /*padding: 10px 15px;*/
}

.complete-order-area {
    /*background: #fcebbd;*/
}

.uncomplete-order-area {
    /*background: #E6E6E6;*/
}

.processing-order-area {
    /*background: #d3eda3;*/
}

.specification-bottom {
    margin-top: 30px;
}

.empty_message {
    font-size: 16px;
    margin: 10px 15px;
}

.book-info-detailed {
    font-size: 24px;
}

.comment-area {
    padding: 15px 15px;
}

.header-img {
    margin: 0 60px;
    float: left
}

