{% extends "base.html" %}
{% block title %}Login - Online Bookshop{% endblock %}
{% block content %} 

<div class="header">
    <h1>Login | Register</h1>
</div>
<div id="main" class="content pure-g">
    <div id="main" class="pure-u-1-2">
        <legend>Please Enter your Username & Password</legend>
        <div class="">
            <form action="" method="post" class="pure-form pure-form-stacked">
                <fieldset>
                    {% csrf_token %}
                    <div class="pure-control-group">
                        <label for="username">Username:</label>
                        <input type="text" name="username" value="" id="username">
                    </div>
                    <div class="pure-control-group">
                        <label for="password">Password:</label>
                        <input type="password" name="password" value="" id="password">
                    </div>
                    <div class="pure-controls">
                        <button type="submit" class="pure-button pure-button-primary"><i class="fa fa-sign-in fa-lg"></i> Login</button>
                    </div>
                    <input type="hidden" name="next" value="{{ next|escape }}" />
                </fieldset>

                {% if form.errors %}
                <div class="alert alert-danger">Sorry, that's not a valid username or password</div>
                {% endif %}
            </form>
        </div>
    </div>
    <div class="pure-u-1-2">
        <legend>Have not an Account yet?</legend>
        <form class="pure-form" action="/accounts/register">
            <button class="pure-button button-secondary button-register"><i class="fa fa-user fa-lg"></i> Register</button>
        </form>
    </div>
</div>
{% endblock %}
